 

#main {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    background-color: rgb(233, 232, 232);
    padding: 30px;
    font-family: "Open Sans";
    border-radius: 25px;
}

.row {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    border-bottom: 20px solid #8acecf;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }

    .header {
        display: block;
    }

    #main {
        margin: 0px;
    }
}


.all-caps {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.column {
    flex: 50%;
    margin: 20px;
}

.divider {
    width: 2px;
    margin: 30px 0;
    background: #434747;
}

#xp-header {
    flex: 100%;
    margin: 20px;
}

.xp-date {
    flex: 23%;
    margin-left: 20px;
}

.xp-position {
    flex: 73%;
    
}

.xp-position p {
    margin: 0;
}

.xp-position ul {
    margin-top: 5px;
}

.xp-divider {
    flex: 4%
    }

.underline {
    border-bottom: 5px solid #8acecf;
}
    
.colored-box {
    text-align: center;
    padding: 10px;
    background-color: #8acecf;
    color: white;
    font-weight: lighter;
}
    
.grey-box {
    text-align: center;
    padding: 10px;
    background-color: #434747;
    color: white;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 3px;
}

a {
    text-decoration: none;
}





